name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  ruby:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
    - name: Ruby gem cache
      uses: actions/cache@v1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('.ruby-version') }}-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-${{ hashFiles('.ruby-version') }}
    - name: Setup
      run: bash .github/setup.sh
    - name: Run specs
      run: bundle exec rspec
